body, html {
	height: calc(100% - 60px);
}
body {
	font-family:'Open Sans', Arial;
	margin-bottom:60px;
	background-color: #ffffff;
	background-image:url(../img/fondo-santandercielo.jpg);
	
	background-position: center top;
	/* background-size:cover; */
	background-attachment: fixed;
	background-repeat: no-repeat;
  	background-size: 90% 90%;

}
.contrainer-fluid {

    margin-top: 40px;

}

.panel-pricipal{

	border-color: #e63d3a;
	/* -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px; */
}

.bordes{
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
}
.borde-rojo{
	border:solid 1px #e63d3a;

}
.panel-titulo{
    color: white !important;
    background-color: #e63d3a !important;
	border-color: #e63d3a !important;
/* 	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-topright: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px */;
}
.panel-titulo h2 {
	font-size: 20px !important;
    font-weight: 300 !important;
    color: white !important;
    font-weight: bold !important;
}
.nopad {
	padding:0px;
}
.navbar-header {
	width:100%;
	padding-top:15px;
}
.navbar-default {
	background-color:#FFFFFF;
	border-color:transparent;
}
.navbar-brand {
	font-size:14px;
	margin-bottom:15px;
}
.header {
	padding:14px 0px;
	background-color:#FFF;
}
.prilogic {
	
	float: right;
}
.user-data {
	font-size:11px;
	font-weight: normal;
	text-align: right;
	text-transform: uppercase;
	margin-top:15px;
}
.user-data p {
	margin:0px 0px 0px 0px;
}
.wrapper {
	font-weight:300;

	color:#FFFFFF;
	padding:80px 0px;
	height:100%;
}
.title {
	margin-top:10px;
}

.wrapper h1 {
	font-size:20px;
	font-weight: 300;
	color:black;
	font-weight: bold;
}
.wrapper h2 {
	font-size:14px;
	font-weight: 300;
	color:black;
	font-weight: bold;
}
.wrapper h3 {
	font-size: 12px;
	font-weight: 300;
	color:black;
	font-weight: bold;
}

.section {
	padding:40px 0px;
}
.section h1 {
	margin-top:0px;
	font-weight: 300
}

.login {
	padding:20px;
	background:#FFFFFF;
}
.login h2 {
	color:#ff0a0a;
	font-weight: bold;
	margin-bottom:30px;
	font-size:16px;
}
.form-control {
	border-radius:3px !important;
	margin-bottom:20px;
	/*padding:20px 15px !important;*/
	padding:10px !important;
	color:#333;
	height:auto;
}
.form-control-option {
	border:solid 1px #ccc;
	border-radius:3px;
	width:100%;
	color:#333;
	padding:10px;
}

.btn.btn-default {
	text-transform: uppercase;
background-color:#ff0a0a;
color:#FFFFFF;
font-weight:bold;
border-radius:3px !important;
margin-bottom:20px;
border-color:transparent;
width:100%;
margin-top:20px;
padding-top:10px;
padding-bottom: 10px;
}
.btn.btn-default:hover, 
.btn.btn-defaul:focus {
	background:#ba1717;
	color:#FFFFFF;
}

.section-title {
margin-bottom:30px;
}
.section-title h1 {
	font-size:30px;
}

.item-box {
	background:#FFF;
	color:#333;
	text-align: center;
	overflow: hidden;
	margin-bottom:20px;
}
.item-box img {
	width:100%;
	height:auto;
}
.item-box h3 {
	font-size:18px;
	margin:15px 0px;
}

.box-detail {
background: #FFFFFF;
display: block;
overflow: hidden;
color:#333;
padding:0px;
}

.box-detail h2 {
	color:#ff0a0a;
	font-size:28px;
	margin:30px 25px 15px 25px;
}

.box-detail ul {
	margin:30px 0px 30px 20px;
	padding:0px;
	list-style-type: none;
	text-align: left;
}

.box-detail li::before {
content: "• ";
color: red;
}

.wrap-white {
	background:#FFF;
	display: block;
	overflow: hidden;
}

.checkout {
padding:40px;
background:#FFF;
display: block;
overflow:hidden;
}

.checkout h2 {
	color:#ff0a0a;
	font-size:28px;
	margin:0px 0px 30px 0px;
}
.checkout p {
	margin:0px 0px 15px 0px;
	color:#333;
}


.column-search {
	padding:40px !important;
	display: block;
	overflow: hidden;
}

.btn-back {
	background-color:#969696 !important;
}
.text-red {
	color:#ff0a0a;
}
.form-title {
	margin:20px;
}

.gmap iframe {
	max-width:100%;
}

#results {
	display: block;
	overflow: hidden;
	margin-bottom:30px;
}
.item-list {
	/*width:100%;*/
	border-bottom:solid 1px #DDDDDD;
	padding:5px 0px;
	/*margin-left:15px;*/
}
.item-list p {
	margin:0px;
	font-size:12px;
}

.item-list label {
	color:#ff0a0a;
	margin-bottom:5px;
}

#datepicker {
	background-image:url(img/datepicker.png);
	background-repeat: no-repeat;
	background-position: right center; 
}

.footer {
  position: absolute;
  bottom: 0;
  /*border-bottom:solid 2px #ff0a0a;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  padding:15px 0px 20px 0px;
  background-color: #FFF;
  overflow: hidden;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		height:auto;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.user-data {
		margin-top:15px;
	}
	.wrapper {
		height: auto;
		padding:40px 0px;
	}
	.welcome h2 {
		margin-bottom:30px;
	}
	.section-title h1 {
		font-size:20px;
	}
	.wrap-btn {
		padding:0px;
	}
	.btn.btn-default {
		border-radius:0px !important;
		margin-bottom:0px;
	}
	.item-list {
		width:100%;
		border-bottom:solid 1px #DDDDDD;
		padding:5px 0px;
		margin-left:0px;
	}

}
/* Portrait phones and smaller */
@media  (max-width: 480px) {
	.navbar {
		margin-bottom:0px;
	}
	.navbar-header {
		width:100%;

	}
	.navbar-brand {
		font-size:0px;
	}
	.navbar-brand img {
		max-width:100px;
		margin-top:5px;

	}
		
	.prilogic {
/*		margin:15px 15px 0px 0px*/
	}
	.prilogic img {
		max-width:90px;
		}
	.user-data {
		text-align:center;
	}
	.wrapper {
		height: auto;
		padding:40px 0px;
		text-align:center;
	}
	.welcome h1 {
		margin-top:0px;
	}
	.welcome h2 {
		margin-bottom:30px;
	}
	.wrap-btn {
		padding:0px;
	}
	.box-detail {
		padding-bottom:30px;
	}
	.box-detail ul {
		margin-left: 0px;
	}
}

.login .recover-pass{
	margin-bottom:10px;
	font-weight: 800;
	font-size:11px;
	padding:5px 8px;
	border:1px solid #ddd;
	border-radius:5px;
	text-align: center;
}

.login-error {
	display: block;
	font-size:12px;
	color:red;
	line-height: 1.2em;
	margin-bottom: 10px;
	padding:10px;
	border:solid 2px #f2f2f2;
	border-radius:10px;
}

.login .recover-pass span{
	font-weight: 800;
}

.text-password{
    color: gray;
}